#debugger {
  overflow-wrap: break-word;
  max-width: 100vw;
}
.App {
  height: 100%;
  input,
  button,
  submit {
    border: none;
  }

  .main-wrapper {
    height: 100%;

    &.modal-open {
      overflow-y: hidden;
    }
  }

  [inert] {
    pointer-events: none;
    cursor: default;
  }

  [inert],
  [inert] * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

a {
  text-decoration: underline;
}
