$main-title: var(--main-title);

$navmenu-background: var(--navmenu-background);
$navmenu-background-negative: var(--navmenu-background-negative);
$navmenu-links: var(--navmenu-links);
$navmenu-links-negative: var(--navmenu-links-negative);

$pageintro-background: var(--pageintro-background);
$pageintro-title: var(--pageintro-title);
$pageintro-subtitle: var(--pageintro-subtitle);
$pageintro-description-icon: var(--pageintro-description-icon);
$pageintro-description-title: var(--pageintro-description-title);
$pageintro-description-subtitle: var(--pageintro-description-subtitle);

$benefit-card-button: var(--benefit-card-button);
$benefit-card-button-title: var(--benefit-card-button-title);

$productdetail-list-title-mobile: var(--productdetail-list-title-mobile);
$productdetail-list-title-desktop: var(--productdetail-list-title-desktop);
$productdetail-list-firstitem-border: var(--productdetail-list-firstitem-border);
$productdetail-item-icon-color: var(--productdetail-item-icon-color);
$productdetail-item-title-color: var(--productdetail-item-title-color);
$productdetail-item-text-color: var(--productdetail-item-text-color);
$productdetail-item-link-color: var(--productdetail-item-link-color);

$background-app: var(--background-app);
$background-content: var(--background-content);
$background-content-negative: var(--background-content-negative);
$background-header:var(--background-header);
$background-form: var(--background-form);

$primary: var(--primary);
$primary-negative: var(--primary-negative);
$secondary: var(--secondary);
$accent: var(--accent);
$secondary-light: var(--secondary-light);
$line-separator: var(--line-separator);
$title-primary: var(--title-primary);
$link: var(--link);
$border: var(--border);
$light-border: var(--light-border);
$primary-error-color: #781B8E;

$header-background:var(--header-background);
$header-title: var(--header-title);
$error-text: var(--error-text);
$link-default: var(--link-default);

$shadow: rgba(122, 109, 96, 0.24);